<article class="category">
  <div class="categoryContent">
    <p class="categoryName">
      {{categoryName}}
    </p>
    <p class="categoryDesc">
      {{categoryDesc}}
    </p>
  </div>
</article>
