<article class="list">
  <div class="listContent">
    <p class="listName">
      {{listName}}
    </p>
    <p class="makeList">
        <ul>
            {{#each listItems}}
              {{> createListItem}}
            {{/each}}
        </ul>
    </p>
  </div>
</article>
