<div id="modalBackdrop" class="hidden"></div>
<div id="createListModal" class="hidden">

    <div class="modalWindow">

        <div class="modalHeader">
            <h3>Create a List!</h3>
            <button type="button" class="closeModal">&times;</button>
        </div>

        <div class="modalBody">

            <div class="listNameElement">
                <label for="listNameInput">Name:</label>
                <input id="listNameInput"></input>
            </div>

            {{!-- <div class="listColorSelector">
                <button type="button" class="colorOption1"></button>
                <button type="button" class="colorOption2"></button>
                <button type="button" class="colorOption3"></button>
                <button type="button" class="colorOption4"></button>
                <button type="button" class="colorOption5"></button>
                <button type="button" class="colorOption6"></button>
                <button type="button" class="colorOption7"></button>
                <button type="button" class="colorOption8"></button>
            </div> --}}

        </div>

        <div class="modalFooter">
            <button type="button" class="cancelModal">Cancel</button>
            <button type="button" class="createList">Create List!</button>
        </div>

    </div>

</div>


<!--
COLORS:
Option 1: R: 255 G: 255 B: 255 white
Option 2: R: 240 G: 139 B: 132 red
Option 3: R: 249 G: 187 B: 45 orange
Option 4: R: 254 G: 242 B: 126 yellow
Option 5: R: 205 G: 253 B: 149 light green
Option 6: R: 170 G: 254 B: 235 light blue/green
Option 7: R: 204 G: 240 B: 247 faded blue
Option 8: R: 252 G: 207 B: 231 light pink
Option 9: R: 214 G: 176 B: 249 purple
 -->
