<article class="list">
  <div class="listContent">
    <p class="listName">
      {{list-name}}
    </p>
    <p class="makeList">
      {{#each newItem}}
        {{> createListItem}}
      {{/each}}
    </p>
  </div>
</article>
